<!-- This file should be placed in $HOME/.m2 directory to load artifacts from proprietary Nexus-->
<settings>
    <servers>
        <server>
            <id>nexus</id>
            <username>user</username>
            <password>password</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>nexus</id>
            <!-- Here, the address would link to your proprietary Nexus or other repository -->
            <url>https://localhost.com/repository/maven-public/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
</settings>