Source: kypo2-user-and-group
Maintainer: Martin Machac <machacm@ics.muni.cz>
Build-depends: debhelper (>= 8.0.0)
Section: misc
Standards-Version: 3.9.8

Package: kypo2-user-and-group
Architecture: any
Depends: maven, ${misc:Depends}
Priority: optional
Description: KYPO User and group project
 This project represents back-end for managing users, groups and roles of KYPO project.

