#!/usr/bin/make -f  

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

USER=kypo
PROJECT_NAME=$(shell dpkg-parsechangelog --show-field source)
PACKAGE_NAME=$(subst -,_,${PROJECT_NAME})
CONFIG_DIR=/etc/kypo2/java-projects/properties/user-and-group
PROJECT_DIR=/opt/kypo2/${PROJECT_NAME}
JARS_DIR=${PROJECT_DIR}/jars
HTTPS_PORT=8443
CWD=$(shell pwd)

%:  
	dh $@ --with systemd

override_dh_auto_build override_dh_auto_install:

override_dh_installinit:
	dh_installinit --noscript
	
override_dh_install:
	mv kypo2-user-and-group-prod.properties kypo2-user-and-group.properties
    
