#!/usr/bin/make -f  

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

USER=kypo
PROJECT_NAME=$(shell dpkg-parsechangelog --show-field source)
PACKAGE_NAME=$(subst -,_,${PROJECT_NAME})
PROJECT_DIR=/opt/kypo2/${PROJECT_NAME}
JARS_DIR=${PROJECT_DIR}/jars
HTTPS_PORT=8443
CWD=$(shell pwd)

%:  
	dh $@ --with systemd

override_dh_auto_build override_dh_auto_install:


override_dh_install:
	@echo "pom.xml ${PROJECT_DIR}" > debian/install
	@echo "kypo2-api-user-and-group/target/kypo2-api-user-and-group*.jar ${JARS_DIR}" >> debian/install
	@echo "kypo2-persistence-user-and-group/target/kypo2-persistence-user-and-group*.jar ${JARS_DIR}" >> debian/install
	@echo "kypo2-rest-user-and-group/target/kypo2-rest-user-and-group*.jar ${JARS_DIR}" >> debian/install
	@echo "kypo2-security-user-and-group/target/kypo2-security-user-and-group*.jar ${JARS_DIR}" >> debian/install
	@echo "kypo2-service-user-and-group/target/kypo2-service-user-and-group*.jar ${JARS_DIR}" >> debian/install
	@echo '#!/bin/sh\ncd ${PROJECT_DIR}\nmvn clean install' > debian/postinst
	@echo '\ncd ${JARS_DIR}\nAPI_JAR=$(ls kypo2-api-user-and-group*.jar | tail -n 1)\nln -s ${API_JAR} kypo2-api-user-and-group.jar' >> debian/postinst
	@echo '\nPERSISTENCE_JAR=$(ls kypo2-persistence-user-and-group*.jar | tail -n 1)\nln -s ${PERSISTENCE_JAR} kypo2-persistence-user-and-group.jar' >> debian/postinst
	@echo '\nREST_JAR=$(ls kypo2-rest-user-and-group*.jar | tail -n 1)\nln -s ${REST_JAR} kypo2-rest-user-and-group.jar' >> debian/postinst
	@echo '\nSECURITY_JAR=$(ls kypo2-security-user-and-group*.jar | tail -n 1)\nln -s ${SECURITY_JAR} kypo2-security-user-and-group.jar' >> debian/postinst
	@echo '\nSERVICE_JAR=$(ls kypo2-service-user-and-group*.jar | tail -n 1)\nln -s ${SERVICE_JAR} kypo2-service-user-and-group.jar' >> debian/postinst
	dh_install

override_dh_installinit:
	dh_installinit --noscript
       
